{% block css %}
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/company.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/links.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/office.css" />
{% endblock %}

{% block body %}
	<footer>
		<div class="column">
			{% include '/themes/default/elements/office.html' %}
			{% include '/themes/default/elements/links.html' %}
		</div>

		<div class="column">
			{% include '/themes/default/elements/company.html' %}
		</div>
	</footer>
{% endblock %}

{% block js %}
{% endblock %}
