[submodule "hotline.mjs"]
	path = hotline.mjs
	url = https://git.svoboda.works/mirzaev/hotline.mjs
	branch = stable
[submodule "damper.mjs"]
	path = damper.mjs
	url = https://git.svoboda.works/mirzaev/damper.mjs.git
	branch = stable
[submodule "icons"]
	path = icons
	url = https://git.svoboda.works/mirzaev/icons
	branch = stable
[submodule "womb3-simplex.mjs"]
	path = womb3-simplex.mjs
	url = https://git.svoboda.works/mirzaev/womb3-simplex.mjs
	branch = stable
