{% extends "/themes/default/index.html" %}

{% block css %}
	{{ parent() }}
	<link type="text/css" rel="stylesheet" href="/css/icons/loading_spinner.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/pages/offer.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/cookies.css" />
{% endblock %}

{% block before %}
{% endblock %}

{% block main %}
	<h1 id="title" class="unselectable">
		<span class="slogan">ВСЕХ ШАБЛОНОВ</span>
		<a href="/" class="kodorvan">КОДОРВАНЬ</a>
	</h1>

	<article id="offer" aria-label="Публичная оферта">
		<h1>Согласие на обработку электронных пользовательских данных</h1>

		<div class="text">
			<p>Я даю согласие на&nbsp;обработку моих электронных пользовательских данных АО&nbsp;«ПФ «СКБ&nbsp;Контур»&nbsp;(ИНН
				6663003127)&nbsp;и&nbsp;его дочерним обществам (далее вместе&nbsp;— СКБ&nbsp;Контур, группа компаний),
				в&nbsp;соответствии с&nbsp;разделом 6&nbsp;<a class="external-link" href="https://kontur.ru/about/policy"
					rel="nofollow noopener">Политики&nbsp;обработки персональных данных</a>&nbsp;(далее&nbsp;— Политика),
				в&nbsp;следующих целях:</p>

			<ul>
				<li>обеспечение корректной работы сайтов и&nbsp;программных продуктов СКБ&nbsp;Контур, персонализация, сохранение
					настроек пользователя, повышение удобства работы;</li>
				<li>сбор, обработка аналитических и&nbsp;статистических данных по&nbsp;тематике деятельности СКБ&nbsp;Контур,
					использования информационных ресурсов, программных продуктов, товаров, работ и&nbsp;услуг СКБ&nbsp;Контур
					для&nbsp;разработки новых программных продуктов, расширения спектра оказываемых услуг, контроля качества,
					противодействия незаконным или&nbsp;несанкционированным действиям, мошенничеству при&nbsp;использовании
					программных продуктов, товаров, работ и&nbsp;услуг СКБ&nbsp;Контур, обеспечение информационной безопасности.
				</li>
			</ul>

			<p>Перечень электронных пользовательских данных, которые могут обрабатываться в&nbsp;соответствии с&nbsp;указанными
				целями обработки:</p>

			<ul>
				<li>идентификаторы пользователя;</li>
				<li>сетевые адреса;</li>
				<li>файлы cookies;</li>
				<li>идентификаторы устройств;</li>
				<li>размеры и&nbsp;разрешение экрана;</li>
				<li>сведения об&nbsp;аппаратном и&nbsp;программном обеспечении, например, браузерах, операционной системе,
					установленных приложениях;</li>
				<li>геолокация;</li>
				<li>языковые настройки;</li>
				<li>часовой пояс;</li>
				<li>время и&nbsp;статистика использования приложений и&nbsp;информационных ресурсов СКБ&nbsp;Контур;</li>
				<li>действия в&nbsp;сервисах СКБ&nbsp;Контур, источники переходов на&nbsp;веб-страницы, отправленные поисковые
					и&nbsp;иные запросы, созданный пользователем контент.</li>
			</ul>

			<p>Кроме обработки данных cookies, установленных самими сайтами СКБ&nbsp;Контур, на&nbsp;моем устройстве могут
				устанавливаться cookies, относящиеся к&nbsp;сайтам сторонних организаций, например, в&nbsp;случаях, когда
				на&nbsp;сайтах СКБ&nbsp;Контур используются сторонние компоненты и&nbsp;программное обеспечение. Обработка таких
				cookies регулируется политиками соответствующих сайтов, к&nbsp;которым они относятся, и&nbsp;может изменяться
				без&nbsp;моего предварительного уведомления. К&nbsp;таким случаям может относиться размещение на&nbsp;сайтах:</p>

			<ul>
				<li><span>счетчиков посещений, аналитических и&nbsp;статистических сервисов для&nbsp;сбора статистики посещаемости
						общедоступных страниц сайтов (Яндекс.Метрика, Яндекс.Аудитории, VK.com, Mail.ru);</span></li>
				<li><span>виджетов вспомогательных сервисов для&nbsp;сбора обратной связи, организации чатов и&nbsp;иных видов
						коммуникаций с&nbsp;пользователями (Carrot Quest, Callibri);</span></li>
				<li><span>систем контекстной рекламы, баннерных и&nbsp;иных маркетинговых сетей (VK Ads);</span></li>
				<li><span>кнопок авторизации на&nbsp;сайтах с&nbsp;помощью учетных записей в&nbsp;социальных сетях (VK ID, Яндекс
						ID, Alfa ID);</span></li>
				<li><span>иных сторонних компонент, используемых СКБ&nbsp;Контур на&nbsp;своих сайтах.</span></li>
			</ul>

			<p>Действия, на&nbsp;которые дается согласие: сбор, запись, систематизация, накопление, хранение, уточнение
				(обновление, изменение), извлечение, использование, передача (предоставление, доступ,&nbsp;без&nbsp;осуществления
				трансграничной передачи), обезличивание, блокирование, удаление, уничтожение, осуществляемые с&nbsp;использованием
				средств автоматизации.</p>

			<p>В&nbsp;случае если я не&nbsp;согласен с&nbsp;обработкой cookies, я принимаю на&nbsp;себя риск того,
				что&nbsp;в&nbsp;таком случае функции и&nbsp;возможности сайта могут не&nbsp;быть доступны в&nbsp;полном объеме,
				и&nbsp;могу выбрать один из&nbsp;следующих вариантов:</p>

			<ul>
				<li>произвести самостоятельную настройку своего браузера в&nbsp;соответствии с&nbsp;документацией
					или&nbsp;справкой к&nbsp;нему таким образом, чтобы он на&nbsp;постоянной основе не&nbsp;разрешал принимать
					и&nbsp;отправлять данные cookies для&nbsp;любых сайтов либо для&nbsp;конкретного сайта СКБ&nbsp;Контур
					или&nbsp;сайта стороннего компонента;</li>
				<li>переключиться в&nbsp;специальный режим «инкогнито» браузера для&nbsp;использования сайтом cookies
					до&nbsp;закрытия окна браузера или&nbsp;до&nbsp;переключения обратно в&nbsp;обычный режим;</li>
				<li>покинуть сайт во&nbsp;избежание дальнейшей обработки cookies.</li>
			</ul>

			<p>Я понимаю, что&nbsp;могу самостоятельно через&nbsp;встроенные в&nbsp;браузеры средства работы с&nbsp;данными
				cookies управлять сохраненными данными, в&nbsp;том числе, удалять или&nbsp;просматривать сведения
				об&nbsp;установленных сайтами cookies, включая:</p>

			<ul>
				<li>адреса сайтов и&nbsp;пути на&nbsp;них, куда будут отправляться cookies;</li>
				<li>названия и&nbsp;значения параметров, хранящихся в&nbsp;cookies;</li>
				<li>сроки действия cookies.</li>
			</ul>

			<p>Срок обработки электронных пользовательских данных&nbsp;— до&nbsp;наступления условий:</p>

			<ul>
				<li>достижение целей обработки персональных данных или&nbsp;максимальных сроков хранения;</li>
				<li>утрата необходимости в&nbsp;достижении целей обработки персональных данных;</li>
				<li>предоставление субъектом персональных данных или&nbsp;его законным представителем подтверждения того,
					что&nbsp;персональные данные являются незаконно полученными или&nbsp;не&nbsp;являются необходимыми
					для&nbsp;заявленной цели обработки;</li>
				<li>отзыв согласия на&nbsp;обработку персональных данных, если сохранение персональных данных более
					не&nbsp;требуется для&nbsp;целей обработки персональных данных;</li>
				<li>законное требование о&nbsp;прекращении обработки персональных данных;</li>
				<li>ликвидация (реорганизация) отдельно взятого общества, входящего в&nbsp;СКБ&nbsp;Контур, если обработка
					осуществлялась исключительно в&nbsp;интересах данного общества и&nbsp;отсутствует какой-либо правопреемник
					общества в&nbsp;СКБ&nbsp;Контур.</li>
			</ul>

			<p>Я уведомлен, что&nbsp;при&nbsp;необходимости я могу ознакомиться с&nbsp;актуальной версией Политики обработки
				персональных данных СКБ&nbsp;Контур по&nbsp;адресу&nbsp;<a class="external-link"
					href="https://kontur.ru/about/policy" rel="nofollow noopener">https://kontur.ru/about/policy</a>.</p>
		</div>
	</article>
{% endblock %}

{% block after %}
	<div class="vignette"></div>
	<div class="dots"></div>
{% endblock %}

{% block js %}
	{{ parent() }}
{% endblock %}
