@charset "UTF-8";

body {
	>main {
		>article#article {
			z-index: 500;
			border-radius: 1.25rem;
			margin: 3rem 0 8rem;
			width: 880px;
			box-sizing: border-box;
			padding: 3rem 4rem;
			background: #fff;

			>h1 {
				margin-top: unset;
				margin-bottom: 2.5rem;
				text-align: center;
				font-family: "MT Sans";
				font-size: 3rem;
				font-weight: 400;
			}
		}
	}
}

@media (width < 1000px) {
	body {
		>main {
			>article#article {
				margin-bottom: unset;
				width: 100%;
				border-radius: unset;
			}
		}
	}
}
