@charset "UTF-8";

body {
	>main {
		>section.section {
			z-index: 500;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: var(--background-color, #fff);
			background: var(--background-gradient);

			>h1#title {
				font-size: 2.4rem;
				font-family: "Bahnschrift";
				margin: 0.1em 0 0.2em 0;

				>span {
					color: #0ea5e9;
				}
			}
		}
	}
}
