@charset "UTF-8";

body {
	>main {
		>section.section {
			z-index: 500;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: var(--background-color, #fff);
			background: var(--background-gradient);

			>h1#title {
				font-size: 2.4rem;
				font-family: "Bahnschrift";
				margin: 0.1em 0 0.2em 0;

				>span {
					color: #0ea5e9;
				}
			}
		}
	}

	>div.vignette {
		z-index: 100;
		position: fixed;
		top: 0;
		width: 100vw;
		height: 100vh;
		justify-self: center;
		align-self: center;
		pointer-events: none;
		background: linear-gradient(90deg, #000B -20%, #0000 50%, #000B 120%);
	}

	>div.dots {
		--dot-bg: #18333f;
		--dot-color: #041825;
		--dot-size: 23px;
		--dot-space: 24px;
		z-index: -50;
		position: fixed;
		top: 0;
		left: min(-30vw, -300px);
		justify-self: center;
		align-self: center;
		width: max(250vw, 600px);
		height: 200vh;
		rotate: -16deg;
		pointer-events: none;
		background: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space), var(--dot-color);
		transform-origin: top left;
	}
}
