<?php

define('THEME', 'default');

define('DOMAIN', 'kodorvan.tech');

define('COMPANY', [
	'identifier' => '000000000000000',
	'tax' => '000000000000',
	'name' => [
		'short' => 'ИП Мирзаев',
		'full' => 'ИП Мирзаев Арсен Магомедович'
	],
	'address' => [
		'full' => 'Пермь'
	],
	'worktime' => [
		'from' => '10:00',
		'to' => '19:00'
	],
	'contacts' => [
		'request' => [
			'sim' => [
				'full' => '79005004010',
				'country' => '7',
				'operator' => '900',
				'number' => ['500',	'40',	'10']
			],
			'mail' => 'request@kodorvan.tech'
		]
	]
]);

define('MAIL', [
	'host' => 'smtp.mail.ru',
	'sender' => [
		'mail' => 'system@kodorvan.tech',
		'name' => 'Система',
		'password' => '',
	],
	'receiver' => [
		'mail' => 'request@kodorvan.tech',
		'name' => 'Заявки'
	]
]);

define('TELEGRAM_ROBOT', [
	'domain' => 'kodorvan_bot'
]);
