{% macro superpack(identifier, class, icon, image, title, description, features, article, deal, button, reversed = false) %}
	{% set id = "superpack_" ~ identifier %}
	<article id="{{ id }}" class="superpack{% if class is not empty %} {{ class }}{% endif %}{{ reversed ? ' reversed' : '' }}" aria-label="Суперпак">
		{% if image is not empty %}
			<img class="cover unselectable" src="{{ image.src }}"{% if image.alt is not empty %} alt={{ image.alt }}{% endif %} ondragstart="return false">
		{% endif %}

		<section class="short unselectable">
			{% if title is not empty %}
				<h1 class="title">{{ title }}</h1>
			{% endif %}

			{% if description is not empty %}
				<p class="description unselectable">{{ description }}</p>
			{% endif %}

			{% if features is not empty %}
				<ul class="features unselectable">
					{% for feature in features %}
						<li>
							<img class="icon" src="/themes/{{ theme }}/images/icons/{{ feature.icon }}.svg" alt="+" ondragstart="return false">
							<span class="text">{{ feature.text }}</span>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</section>

		{% if deal.cost is not empty %}
			<p class="cost">
				<span class="amount" aria-label="Стоимость суперпака в российских рублях">{{ deal.cost }}</span>
				<span class="label">{{ deal.text }}</span>
			</p>
		{% endif %}

		<div class="buttons">
			{% if button.text is not empty %}
				<a
					{% if article is not empty %}style="display: none"{% endif %}
					class="{{ article is not empty ? 'chooser ' : '' }}button unselectable{% if button.class is not empty %} {{ button.class }}{% endif %}"
					{% if button.href is not empty %}href="{{ button.href }}"{% else %}onclick="core.global.project.superpack = '{{ title }}'; window.scrollTo({ top: window.innerHeight > 1500 ? 0 : 300, behavior: 'smooth' })"{% endif %}
					aria-label="{{ button.label }}"
					tabindex="0"
				>
					{{ button.text }}
					{% if button.href is not empty %}
						<!-- <img class="icon" src="/themes/{{ theme }}/images/icons/white/external.svg" alt="⤴"> -->
					{% endif %}
				</a>
			{% endif %}
				
			{% if article is not empty %}
				<button class="toggler unselectable" tabindex="0">
					<span class="text">ПОДРОБНЕЕ</span>
					<img 
						class="icon" 
						style="display: none" 
						src="/themes/{{ theme }}/images/icons/bold/close.svg"
						width="24" 
						height="24"
						alt="❌"
						title="Закрыть" 
						ondragstart="return false"
					>
				</button>
			{% endif %}
		</div>

		{% if article is not empty %}
			<section style="display: none" class="full" aria-label="Описание суперпака {{ title }}">
				<!-- <h1 class="unselectable">{{ title }}</h1> -->
				<p>{{ article|raw }}</p>
			</section>

			<script>
				const superpack = document.getElementById("{{ id }}");
				const toggler = superpack.querySelector('button.toggler');
				const chooser = superpack.querySelector('a.chooser');
				toggler?.addEventListener('click', () => superpack.classList.toggle('full'));
				chooser?.addEventListener('click', () => superpack.classList.remove('full'));
				window.addEventListener('load', () => superpack.querySelectorAll('[style="display: none"]').forEach((element) => element.style.removeProperty('display')));
			</script>
		{% endif %}
	</article>
{% endmacro superpack %}

<section id="superpacks" class="section">
	<div class="separator" style="--mask: url('/themes/{{ theme }}/images/interface/sigmumba.svg') center/var(--mask-size, 72vw) no-repeat; --mask-mobile: url('/themes/{{ theme }}/images/interface/labubumba_2_mobile.svg') center/var(--mask-size, 72vw) no-repeat;"></div>

	<h1 class="unselectable"><span class="super" aria-label="СУПЕР">СУПЕР</span><span class="packs" aria-label="ПАКИ">ПАКИ</span></h1>

	<h2 class="unselectable">Готовые технические решения</h2>

	<p class="description unselectable">Проект <span class="quality">эталонного качества</span> по <span class="cost">фиксированной цене</span> с проверенной годами кодовой базой для максимально быстрого и уверенного старта</p>

	<div class="flow">
		{% for superpack in superpacks %}
			{{ 
				_self.superpack(
					identifier: loop.index,
					class: superpack.class,
					icon: superpack.icon,
					image: superpack.image,
					title: superpack.title,
					description: superpack.description,
					features: superpack.features,
					article: superpack.article,
					deal: superpack.deal,
					button: superpack.button,
					reversed: loop.index % 2 == 0
				) 
			}}
		{% endfor %}
	</div>
</section>
