{% extends "/themes/default/index.html" %}

{% block css %}
	{{ parent() }}
	<link type="text/css" rel="stylesheet" href="/css/icons/loading_spinner.css" />
	<!-- <link type="text/css" rel="stylesheet" href="/css/icons/code_slash.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/coffe.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/close.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/check.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/eye.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/close.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/plus.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/minus.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/server.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/trend.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/terminal.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/list_tree.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/gift.css" />
	<link type="text/css" rel="stylesheet" href="/css/icons/phone.css" /> -->
	<link type="text/css" rel="stylesheet" href="/themes/default/css/pages/index.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/companies.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/project.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/superpacks.css" />
	{% if smartphone %}
		<link rel="preload" as="image" href="/themes/default/images/interface/labubumba_2_mobile.svg" />
	{% else %}
		<link rel="preload" as="image" href="/themes/default/images/interface/labubumba_2.svg" />
		<!-- <link type="text/css" rel="stylesheet" href="/themes/default/css/elements/cases.css" /> -->
	{% endif %}
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/cookies.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/gradient.css" />
	<link rel="preload" as="image" href="/themes/default/images/icons/close.svg" />
{% endblock %}

{% block before %}
{% endblock %}

{% block main %}
	<h1 id="title" class="unselectable">
		<span class="slogan">ВСЕХ ШАБЛОНОВ</span>
		<a href="/" class="kodorvan">КОДОРВАНЬ</a>
	</h1>

	{% include '/themes/default/elements/project.html' %}
	
	{% include '/themes/default/elements/companies.html' %}
	{% include '/themes/default/elements/superpacks.html' %}

	{% if cookies.cookies_popup_closed is empty %}
		{% include '/themes/default/elements/cookies.html' %}
	{% endif %}
	{% endblock %}

{% block after %}
	<div class="vignette"></div>
	<div class="dots"></div>
{% endblock %}

{% block js %}
	{{ parent() }}

	<script>
		let main = document.getElementById('main');

		setInterval(() => {
			main.style.setProperty('--scroll-px', window.pageYOffset + 'px');
			main.style.setProperty('--scroll-deg', window.pageYOffset / 100 + 'deg')
		}, 60);
	</script>

	<script>
		const companies = document.getElementById("companies");

		companies.style.setProperty('margin-top', '70vh');
		companies.style.setProperty('transition', 'margin 0.6s cubic-bezier(0, 1, .45, 1)');

		const companies_show = setTimeout(() => companies.style.removeProperty('margin-top'), 2000);

		document.addEventListener('load', () => {
			clearTimeout(companies_show);
			companies.style.removeProperty('margin-top');
		});
	</script>

	<script src="/js/modules/project.mjs" type="module"></script>
	<script src="/js/modules/paginator.mjs" type="module"></script>
	<script src="/js/modules/hotline.mjs" type="module"></script>
	<script src="/js/pages/main.js" type="module" defer></script>
{% endblock %}
