@charset "UTF-8";

section#cookies {
	--shadow: 4px 4px 10px 0px rgb(0 0 0 / 45%);
	z-index: 3100;
	right: var(--fixed-right, 2rem);
	bottom: var(--fixed-bottom, 2rem);
	position: fixed;
	transition: opacity 0.1s ease-out 0.6s;

	>div.popup {
		font-family: "Bahnschrift";
		border: 2px solid #fff;
		/* border-radius: 0.75rem; */
		border-radius: 1.125rem;
		color: #fff;
		background-color: #000000b8;
		background-color: #000000;
		/* backdrop-filter: blur(3px); */
		opacity: 1;
		box-shadow: var(--shadow);
		-webkit-box-shadow: var(--shadow);
		-moz-box-shadow: var(--shadow);
		transition: filter 0.2s ease-out 0.32s, opacity 0.2s ease-out 0.32s;

		&:has(+button:is(:hover, :active)) {
			opacity: 0.9;
			filter: contrast(0.8);
			transition: filter 0.1s ease-in, opacity 0.1s ease-in;
		}

		>div {
			padding: 0.8rem 1.2rem 0.7rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			>p {
				margin: unset;
				font-size: 1rem;
				text-align: center;
			}

			>small {
				font-family: Nunito;
				font-size: 0.9rem;
				font-weight: 400;
				color: #a6a69d;
			}
		}
	}

	>button {
		z-index: -100;
		position: absolute;
		top: -50px;
		right: -50px;
		width: 120px;
		height: 120px;
		scale: 1;
		cursor: pointer;
		border: unset;
		background: unset;
		clip-path: circle(42% at 53%);
		/* transition: scale 0.2s ease-out 0.3s, rotate 0.2s ease-in-out 0.32s; */
		transition: scale 0.2s ease-out 0.3s, rotate 0.01s ease-out 0s;

		&:is(:hover, :active) {
			scale: 1.05;
			transition: scale 0.1s ease-in 0.02s;
		}

		&:is(:active) {
			scale: 0.95;
		}

		&:is(:focus) {
			rotate: 6deg;
			transition: scale 0.01s ease-in, rotate 0s ease-in-out;

			>img.cookie {
				clip-path: polygon(0px 0px, 43.69% 5px, 46.54% 13px, 48.63% 18px, 54.09% 20px, 54% 23px, 59.18% 24px, 62.03% 27px, 67.6% 26px, 73.74% 27px, 85.41% 23px, 87.68% 22px, 100% 100%, 0px 100%);
			}
		}

		>img.cookie {
			width: 100%;
			pointer-events: none;
		}
	}
}

@media (width < 650px) {
	section#cookies {
		right: unset;
		width: calc(100% - 6rem);
	}
}
