@charset "UTF-8";

/* section#project {
	--margin-bottom: 0.8rem;
	--width: 420px;
	--button-height: 3.6rem;
	z-index: 200;
	position: relative;
	margin-top: 3rem;
	margin-bottom: 5rem;
	min-width: var(--width);
	max-width: var(--width);
	width: min-content;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 1rem; */

article#project {
	--shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.5), 0px 0px 14px 5px rgba(0, 0, 0, 0.4);
	position: relative;
	padding: 1.8em 1.9em;
	display: flex;
	flex-direction: column;
	gap: 1.4em;
	border-radius: 1.25rem;
	overflow: hidden;
	background-color: #fff;
	box-shadow: var(--shadow);
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);

	&:is(.loading) {
		>div.loading {
			opacity: 1;
			height: 100%;
			transition: opacity 0.1s ease-in, height 0s linear 0s;
		}
	}

	>div.loading {
		z-index: 1000;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0%;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		pointer-events: all;
		background: #2c2c33d4;
		backdrop-filter: blur(1.4px);
		transition: opacity 0.2s ease-out, height 0s linear 0.2s;

		&:before {
			margin-top: 50px;
			position: absolute;
			content: var(--project-loading, "Loading");
			width: max-content;
			text-align: center;
			font-family: "Geologica";
			font-style: normal;
			font-weight: 400;
			font-size: 0.6rem;
			color: #fff;
		}

		>i.icon.loading.spinner {
			color: #fff;
		}
	}

	small.guide {
		padding: 0 0.2em;
		display: none;
		font-family: Golos;
		font-size: 0.65em;
		font-weight: 400;
		color: #29262b;

		&:is(.active) {
			display: inline;
		}
	}

	>section {
		--shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0.15);
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.8em;
		/* overflow: hidden;
			border-radius: 1.125rem; */
		/* border: 2px solid;
		background-color: #fff;
		box-shadow: var(--shadow);
		-webkit-box-shadow: var(--shadow);
		-moz-box-shadow: var(--shadow); */

		span {
			font-family: Golos;
			font-weight: 400;
		}

		>:is(section, div) {
			height: 100%;
			padding: unset;
			display: flex;
			flex-direction: column;

			>span {
				font-size: 0.85em;
			}

			textarea {
				margin-top: 0.2em;
				min-width: 100%;
				max-width: 100%;
				width: 100%;
				min-height: 8em;
				max-height: 60vh;
				resize: vertical;
				border-radius: 0.75rem;
			}

			>:is(label, div).input {
				--title-height: 0.9em;
				display: grid;
				grid-template-columns: 1.3em auto;
				grid-template-rows: var(--title-height, 1em) repeat(2, auto);
				align-items: center;
				grid-column-gap: 0.5em;
				grid-row-gap: 0.2em;

				&:is(.total) {
					display: flex;
					flex-direction: column;

					>:is(input, select, textarea),
					>span.title,
					>small.guide {
						grid-column: 1/-1;
					}

					>textarea {
						flex-grow: 1;
					}
				}

				>:is(input, select, textarea) {
					grid-column: 2;
					grid-row: 2;
					/* width: 100%; */
				}

				>img.icon {
					grid-column: 1;
					grid-row: 2/3;
					width: 100%;
				}

				>span.title {
					grid-column: 2;
					grid-row: 1;
					/* margin-bottom: 0.2em; */
					font-size: var(--title-height, 1em);
					padding: 0 0.5em;
					font-weight: 400;
					font-family: 'Cascadia Code';
				}

				>small.guide {
					grid-column: 2;
					grid-row: 3;
					margin-top: 0.2em;
				}
			}

			.grow {
				flex-grow: 1;
			}
		}

		&:is([data-paginator-page="1"]) {
			>section#parameters {
				gap: 1rem;

				>div#integrations {
					display: flex;
					flex-direction: column;
					gap: 0.4em;

					>fieldset {
						margin: unset;
						width: 100%;
						box-sizing: border-box;
						display: flex;
						flex-flow: row wrap;
						gap: 0.6em 1em;
						/* border-radius: 0.75rem; */
						border: 1px solid #000;

						>legend {
							padding: 0 0.5em 0.1em;
							font-family: "Cascadia Code";
							font-size: 0.9rem;
							font-weight: 400;
						}

						>div.integration {
							display: contents;

							>input:is([type="radio"], [type="checkbox"]) {
								/* display: none; */
								position: absolute;
								width: 0;
								height: 0;
								opacity: 0;
								pointer-events: none;

								&:checked+label {
									/* font-weight: 600; */
									border-color: #000;
									color: #000;
								}

								&:not(:checked):is(:hover, :focus)+label,
								&:not(:checked)+label:hover {
									border-bottom: 1px dashed #111;
									color: #111;
								}

								&+label {
									cursor: pointer;
									border-bottom: 1px solid transparent;
									color: #2e4043;
								}
							}
						}
					}
				}
			}

			>section#team {
				padding: 0 0.6em;
				display: flex;
				flex-direction: column;
				gap: 0.4em;

				>fieldset {
					margin: unset;
					width: 100%;
					box-sizing: border-box;
					display: flex;
					justify-content: space-between;
					gap: 0.6em 1em;
					/* border-radius: 0.75rem; */
					border: 1px solid #000;

					>legend {
						padding: 0 0.5em 0.1em;
						font-family: "Cascadia Code";
						font-size: 0.9rem;
						font-weight: 400;
					}

					>label {
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 0.3rem;

						>input[type="number"] {
							appearance: textfield;
							-moz-appearance: textfield;
							width: 80%;
							/* padding: 0.4em 0.6em 0.4em 1.2em; */
							padding: 0.4em 0.6em;
							box-sizing: border-box;
							text-align: center;
							font-family: Nunito;
							font-weight: 400;
							font-size: 1em;
							outline: unset;
							border: unset;
							border-bottom: 1px solid #000;
							background: unset;

							&::-webkit-outer-spin-button,
							&::-webkit-inner-spin-button {
								-webkit-appearance: none;
								display: none;
							}
						}

						>span {
							font-size: 0.9em;
							cursor: pointer;
						}
					}
				}
			}

			>section#reward {
				padding: 0.4em 0.6em 0;

				>label {
					position: relative;
					display: flex;
					flex-direction: column;
					gap: 0.6em;

					>span.title {
						padding: unset;
						font-family: 'Cascadia Code';
						font-weight: 400;
						font-size: 0.9rem;
					}

					>div.row {
						--height: 1.8rem;
						position: relative;
						width: 100%;
						height: var(--height);
						display: flex;
						align-items: center;

						>input[type="number"] {
							appearance: textfield;
							-moz-appearance: textfield;
							margin: unset;
							width: 5ch;
							height: var(--height, 1.35rem);
							padding: unset;
							box-sizing: border-box;
							font-size: 1rem;
							text-align: right;
							outline: unset;
							/* border: 2px solid #000; */
							border: unset;
							background: unset;

							&::-webkit-outer-spin-button,
							&::-webkit-inner-spin-button {
								-webkit-appearance: none;
								display: none;
							}

							+span.currency {
								margin-left: 0.2em;
								padding-top: 0.1em;
								font-family: Nunito;
								font-size: 0.9em;
								font-weight: 400;

								&:is(.rubles) {
									&:after {
										content: '₽';
									}
								}
							}
						}

						>input[type="range"] {
							--range-height: 6px;
							--range-border-radius: 2px;
							margin-top: 0.2em;
							margin-left: 1rem;
							/* appearance: none; */
							width: 100%;
							background: unset;

							&:focus {
								outline: unset;
							}

							&:is(:hover, :focus) {
								&::-moz-range-thumb {
									background-color: #bdd2c8;
								}

								&::-webkit-slider-thumb {
									background-color: #bdd2c8;
								}
							}

							&:active {
								&::-moz-range-thumb {
									background-color: #507274;
								}

								&::-webkit-slider-thumb {
									background-color: #507274;
								}
							}

							&:is(.connected) {
								&::-ms-track {
									border-radius: 0.4rem;
									border-top-left-radius: unset;
									border-bottom-left-radius: unset;
									border-left: unset;
									/* transition: 0.2s ease-in; */
								}

								&::-moz-range-thumb {
									border-radius: 0.4rem;
									border-top-left-radius: unset;
									border-bottom-left-radius: unset;
									border-left: unset;
									/* transition: 0.2s ease-in; */
								}
							}

							&::-webkit-slider-runnable-track {
								height: var(--range-height, 6px);
								box-sizing: border-box;
								border-radius: var(--range-border-radius, 2px);
								border: 1px solid #000;
								outline: unset;
								background-color: #fff;
							}

							&::-moz-range-track {
								height: var(--range-height, 6px);
								box-sizing: border-box;
								border-radius: var(--range-border-radius, 2px);
								border: 1px solid #000;
								background-color: #fff;
							}

							&::-moz-range-thumb {
								--diameter: 1.5rem;
								margin-top: 0;
								width: var(--diameter, 1.5rem);
								height: var(--diameter, 1.5rem);
								box-sizing: border-box;
								border-radius: 100%;
								border: 2px solid;
								background-color: #fff;
								/* transition: 0s, background 0.1s ease-in; */
							}

							&::-webkit-slider-thumb {
								-webkit-appearance: none;
								--diameter: 1.5rem;
								width: var(--diameter, 1.5rem);
								height: var(--diameter, 1.5rem);
								margin-top: -5px;
								box-sizing: border-box;
								border-radius: 0.4rem;
								border: 2px solid;
								outline: unset;
								/* background-color: var(--color-by-value, #fff); */
								background-color: #fff;
								/* transition: 0s, background 0.1s ease-in; */
							}

							&::-ms-track {
								/* margin-top: 0; */
								width: 7ch;
								height: var(--height, 1.35rem);
								box-sizing: border-box;
								border-radius: 0.4rem;
								border: 2px solid;
								outline: unset;
								/* background-color: var(--color-by-value, #fff); */
								background-color: #fff;
								/* transition: 0s, background 0.1s ease-in; */
							}

							&::-moz-range-progress {
								height: var(--range-height, 6px);
								box-sizing: border-box;
								border-radius: unset;
								border-top-left-radius: var(--range-border-radius, 2px);
								border-bottom-left-radius: var(--range-border-radius, 2px);
								border-left: 1px solid #000;
								background-color: #000;
							}
						}
					}

					>small.guide {
						padding: unset;
					}
				}
			}
		}

		&:is([data-paginator-page="2"]) {
			display: flex;
			flex-direction: column;

			>div#metadata {
				gap: 1.4em;

				>label#project_name {
					>img.icon {
						padding-bottom: 1px;
					}
				}

				>label#project_description {
					>img.icon {
						align-self: start;
						padding-top: 1px;
					}
				}

				>div#project_files {
					--padding-vertical: 1.7em;
					--outline-padding: 0.3em;
					grid-row: 1/3;
					position: relative;
					min-height: 6ch;
					height: min-content;
					padding: 0 1.3em var(--padding-vertical, 1em);
					display: flex;
					flex-direction: column;
					justify-content: start;
					align-items: center;
					gap: 0.2rem;

					/* &:is(:hover, :focus) {
						--outline-padding: 0.4em;
					} */

					&:has(>input[type="file"]:is(:hover, :focus)) {
						>label.pseudoinput {
							background-color: #d0f8ed;
						}
					}

					&:has(>input[type="file"]:active) {
						>label.pseudoinput {
							background-color: #a5e0d0;
						}
					}

					>span.title {
						z-index: 60;
						margin: unset;
						margin-top: calc(var(--padding-vertical, 1em) + 0.25em);
						font-family: Bahnschrift;
						font-size: 0.9em;
						font-weight: 400;
						pointer-events: none;
					}

					>ol.files {
						z-index: 50;
						margin: unset;
						margin-top: 0.2em;
						padding: unset;
						display: flex;
						flex-direction: column;
						gap: 0.2em;
						font-size: 0.8em;
						list-style: numbered;

						&:empty {
							display: none;
						}

						>li {
							position: relative;
							height: 1.3em;
							box-sizing: border-box;
							line-height: 1.1em;

							&:has(>button:is(:hover, :focus)) {
								border-bottom: 1px dashed #000;
							}

							&:has(>button:active) {
								border-bottom: 1px solid #000;
							}

							>button.delete {
								position: absolute;
								top: -0.05em;
								right: -1.7em;
								height: 1.3em;
								padding: 0.15em;
								border: unset;
								background: unset;

								>img {
									width: 100%;
									height: 100%;
									display: block;
								}

								&:is(:hover, :focus) {
									background-color: #3302;
								}

								&:active {
									background-color: #3304;
								}
							}
						}
					}

					>small.guide {
						z-index: 60;
						text-align: center;
						pointer-events: none;
					}

					>label.pseudoinput {
						z-index: 0;
						position: absolute;
						margin-top: var(--outline-padding);
						width: calc(100% - var(--outline-padding, 0px) * 2);
						height: calc(100% - var(--outline-padding, 0px) * 2);
						box-sizing: border-box;
						cursor: context-menu;
						border-radius: 0.75rem;
						outline: 1px dashed #000;
						outline-offset: var(--outline-padding, 0px);
						/* transition: width 0.1s ease-in, outline-offset 0.1s ease-in; */

						&:is(:hover, :focus) {
							>label.pseudoinput {
								background-color: #d0f8ed;
							}
						}

						&:active {
							>label.pseudoinput {
								background-color: #a5e0d0;
							}
						}
					}

					>input[type="file"] {
						position: absolute;
						width: 0;
						height: 0;
						opacity: 0;
						pointer-events: none;
					}
				}
			}
		}

		&:is([data-paginator-page="3"]) {
			>section#requester {
				gap: 1.4em;

				>label#requester_name {
					>img.icon {}
				}

				>label#requester_sim {
					>img.icon {}
				}

				>label#requester_mail {
					>img.icon {
						padding-top: 0.2em;
					}
				}

				>label#requester_other {
					>img.icon {
						align-self: start;
						padding-top: 1px;
					}

					>textarea {
						align-self: start;
						max-height: 30vh;
					}
				}
			}

			>section#confirmation {
				margin-top: 0.5em;
				padding: unset;
				align-items: center;
				gap: unset;

				>label#requester_personal {
					padding: 0.6em 0.8em;
					box-sizing: border-box;
					display: flex;
					align-items: center;
					gap: 0.6em;
					font-size: 0.7em;
					cursor: pointer;
					border-radius: 1.25rem;

					&:has(>div>input:is(:hover, :focus)),
					&:is(:hover, :focus) {
						background-color: #e7e6e0;
					}

					&:has(>div>input:active),
					&:active {
						background-color: #c0bfb4;
					}

					>span.icon {
						scale: 0.8;

						>input {
							position: absolute;
							width: 0;
							height: 0;
							opacity: 0;
							pointer-events: none;

							&:checked {
								+img {
									--display: none;

									+img {
										--display: block;
									}
								}
							}

							&:not(:checked) {
								+img {
									--display: block;

									+img {
										--display: none;
									}
								}
							}
						}

						>img {
							padding-bottom: 0.1ch;
						}
					}

					>span.text {
						margin-top: 0.15ch;
					}
				}
			}
		}

		&:is(#result) {
			padding-top: unset;
			padding-bottom: unset;
			display: flex;

			>section#calculated {
				width: 100%;
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				gap: 0.2em;

				>div {
					>p {
						margin: unset;
						width: 100%;
						display: inline-flex;
						gap: 0.2em;
						align-items: baseline;

						>span.title {
							margin-right: 0.4em;
							width: 45%;
							text-align: right;
							font-family: Bahnschrift;
							font-weight: 300;
						}

						>span.currency {
							font-family: "Cascadia Code";
							font-weight: 400;

							&:after {
								margin-left: 0.2em;
								content: var(--currency, '?');
								font-family: Nunito;
								font-size: 0.9em;
								font-weight: 600;
							}
						}

						>span.amount {
							font-size: 0.9em;
							color: #4d4848;
						}
					}

					&:is(#hours) {
						>p {
							>span.hours {
								font-family: "Cascadia Code";
								font-weight: 400;

								&:after {
									content: var(--hours, 'h');
								}
							}

							>span.days {
								margin-left: 0.2em;
								font-size: 0.9em;
								color: #4d4848;

								&:before {
									content: '(';
								}

								&:after {
									content: var(--days, 'd') ')';
								}
							}
						}
					}
				}
			}
		}
	}

	>section#calculated {
		>.hidden {
			/* opacity: 0; */
		}
	}
}

@media (width < 700px) {
	section#project {
		--width: 100vw;
		padding: 0 2rem;

		/* >div.adaptive {
			margin-bottom: var(--margin-bottom, 0.8rem);
			display: flex;
			flex-direction: row;
			gap: 1rem;

			>* {
				width: 100%;
			}

			>button#back {
				position: relative;
				left: unset;
				top: unset;
				margin: unset;
				min-width: var(--diameter, 4ch);
				width: 30%;
				height: auto;
				border-radius: 1.25rem;
			}

			>section#buttons {
				margin-bottom: unset;
			}
		} */
	}
}

@media (width < 500px) {
	article#project {
		>section {
			>:is(section, div) {
				>:is(label, div).input {
					>:is(input, select, textarea) {
						width: 100%;
					}
				}
			}
		}
	}
}

@media (width < 480px) {
	section#project {
		>article {
			>section[data-paginator-page] {
				>section#team {
					>fieldset {
						flex-flow: row wrap;
					}
				}
			}
		}
	}
}
