@charset "UTF-8";

section#superpacks {
		--vignette: #ccc9c9;
	position: relative;
	margin-bottom: var(--main-gap, 2em);
	padding-bottom: 5rem;
	display: flex;
	border-radius: 0 0 4rem 4rem;
	background: linear-gradient(90deg, var(--vignette) 0%, #fff 20%, #fff 80%, var(--vignette) 100%);

	>div.separator {
		--mask-size: 100vw;
		z-index: 100;
		position: absolute;
		top: -15.6vw;
		width: var(--mask-size);
		aspect-ratio: 700/250;
		pointer-events: none;
		background: red;
		background: radial-gradient(circle, hsl(calc(var(--scroll-deg, 0deg) * 4 + -40deg) 100% 50%) 40%, #000 110%);
		mask: var(--mask);
	}

	>h1 {
		--letter-spacing: max(calc(var(--scroll-px-hundred) * -6 + 0.5em), 0.1em);
		z-index: 500;
		margin: unset;
		margin-top: calc(-0.85em + 5vw);
		padding-left: var(--letter-spacing);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: Golos;
		/* font-size: 11rem; */
		font-size: min(11rem, 9.5vw);
		font-weight: min(calc(var(--scroll) / 2 + 200), 800);
		line-height: 0.9em;
		letter-spacing: var(--letter-spacing);
		color: transparent;
		/* background: linear-gradient(90deg, #540000, #000, #000, #120052) text; */
		background: linear-gradient(180deg, #a7ffda, #ceeaff) text;
		transform: perspective(1em) rotateX(4deg);
		filter: drop-shadow(0 0.03em 0.02em #0006) drop-shadow(0 0.06em 0.1em #0007);
		transition:
			letter-spacing 0.1s ease-in-out,
			padding 0.1s ease-in-out,
			font-weight 0.12s ease-in;
	}

	>h2 {
		margin: unset;
		margin-top: 1.5em;
		width: min(66rem, 70vw);
		font-family: Golos;
		font-size: max(2.7rem, min(4.5vw, 4.3rem));
		font-weight: 650;
		text-align: center;
	}

	>p.description {
		margin-bottom: 1.8em;
		width: min(65.5rem, 69vw);
		font-family: Golos;
		font-size: max(1.5rem, min(2vw, 1.8rem));
		font-weight: 450;
		line-height: 1.45em;
		color: #2a455d;

		>span.quality {
			color: #000;
			background: #00cfff;
		}

		>span.cost {
			color: #000;
			background: #03ff65;
		}
	}

	>div.flow {
		--gap-column: 4rem;
		margin-top: 2em;
		margin-bottom: 3em;
		width: 70vw;
		box-sizing: border-box;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		column-gap: var(--gap-column);
		row-gap: 4em;
		font-family: "Golos";
		font-size: 1.7rem;

		>article.superpack {
			/* --cover-width: min(13vw, 220px); */
			--cover-width: 220px;
			--cover-height: 330px;
			--cost-offset-top: -2.7rem;
			--cost-offset-aside: -0.8rem;
			--buttons-amount: 1;
			position: relative;
			width: calc(50% - var(--gap-column, 2rem) / 2);
			padding: unset;
			box-sizing: border-box;
			display: grid;
			grid-template-columns: var(--cover-width, 40%) auto;
			grid-template-rows: var(--cover-height, 330px) repeat(var(--buttons-amount, 1), 2em);
			column-gap: 2.5rem;
			row-gap: 1rem;
			/* transform: perspective(220px) rotateY(1deg); */

			&.full {

				>img.cover,
				>section.short {
					z-index: 0;
					opacity: 0;
					transition: opacity 0.1s ease-out;
				}

				>section.full {
					z-index: 500;
					opacity: 1;
					pointer-events: all;
					transition: opacity 0.1s ease-in;
				}

				>div.buttons {

					>button,
					>a.button {
						--transition-margin: margin 0.1s ease-in;
						--transition-opacity: opacity 0.1s ease-in;
						--transition-border-radius: border-radius 0.08s ease-in;

						&.toggler {
							margin-left: 1rem;
							flex-grow: 0;
							width: 0px;

							>span.text {
								opacity: 0;
								transition: opacity 0.1s ease-in;
							}

							>img.icon {
								opacity: 1;
								/* scale: 1.2; */
								transition: opacity 0.08s ease-in 0.12s, scale 0.1s ease-in;
							}
						}

						&.chooser {
							flex-grow: 1;
							min-width: unset;
							width: 100%;
							opacity: 1;
							border-radius: 1.25rem;
							color: #fff;
						}
					}
				}
			}

			&.reversed {
				grid-template-columns: auto var(--cover-width, 40%);
				/* transform: perspective(220px) rotateY(-1deg); */

				>img.cover {
					grid-column: 2;
				}

				>section.short {
					grid-column: 1;

					>h1.title {
						text-align: right;
					}

					>p.description {
						text-align: right;
					}

					>ul.features {
						text-align: right;

						>li {
							flex-direction: row-reverse;
						}
					}
				}


				>div.buttons {
					grid-column: 2;

					/* >button.toggler,
					>a.button {} */
				}

				>p.cost {
					grid-column: 1;
					margin-left: auto;
					text-align: right;
				}
			}

			>img.cover {
				z-index: 100;
				grid-column: 1;
				grid-row: 1;
				width: 100%;
				height: 100%;
				opacity: 1;
				object-fit: cover;
				object-position: center bottom;
				pointer-events: none;
				border-radius: 1.25rem;
				filter: brightness(0.85) contrast(1.05);
				transition: opacity 0.1s ease-in;
			}

			>section.short {
				z-index: 500;
				grid-column: 2;
				grid-row: 1;
				display: flex;
				flex-direction: column;
				/* gap: 1rem; */
				overflow: scroll;
				opacity: 1;
				transition: opacity 0.1s ease-in;

				>h1.title {
					z-index: 300;
					margin: unset;
					padding: unset;
					font-weight: 600;
					font-size: 1.5em;
					line-height: 0.9em;
				}

				>p.description {
					margin: unset;
					margin-top: 0.4em;
					font-size: 0.8em;
					font-weight: 520;
					color: #7f9a9c;
				}

				>ul.features {
					margin: unset;
					margin-top: 1.2em;
					flex-grow: 1;
					padding: unset;
					display: flex;
					flex-direction: column;
					gap: 1rem;
					list-style: none;
					font-weight: 400;
					font-size: 0.7em;
					overflow: hidden;

					>li {
						flex-grow: 0.05;
						display: flex;
						gap: 0.6em;

						>img.icon {
							height: 1.9ch;
						}
					}
				}
			}

			>section.full {
				z-index: 0;
				grid-row: 1;
				grid-column: 1/-1;
				max-height: var(--cover-height);
				display: flex;
				flex-direction: column;
				gap: 0.3em;
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.1s ease-out;

				>h1 {
					margin: unset;
					font-family: Golos;
					font-weight: 600;
					font-size: 1.5em;
					line-height: 0.9em;
				}

				>p {
					margin: unset;
					padding: 0 1em;
					font-size: 0.6em;
					overflow-y: scroll;
				}
			}

			>div.buttons {
				grid-column: 1;
				grid-row: 2;
				display: flex;

				>button,
				>a.button {
					--transition-margin: margin 0.1s ease-out 0.19s;
					--transition-width-animation: ease-in;
					--transition-opacity: opacity 0.1s ease-in 0.08s;
					--transition-border-radius: border-radius 0.1s ease-in 0.05s;
					--transition-outline: outline 0.1s ease-in;
					--transition-outline-offset: outline-offset 0.1s ease-in;
					width: 100%;
					height: 100%;
					padding: unset;
					box-sizing: border-box;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.3em;
					font-family: Golos;
					font-size: 0.7em;
					line-height: 0.9em;
					font-weight: 600;
					opacity: 1;
					overflow: hidden;
					border-radius: 1.25rem;
					outline: 4px solid transparent;
					outline-offset: 0px;
					border: unset;
					/* border: 1px solid #000; */
					color: #fff;
					/* background: linear-gradient(var(--linear-rotate, -30deg), #3f81ff 0%, #2ea7ff 40%, #18f5c1 100%); */
					background: #000;
					transition:
						var(--transition-margin),
						flex-grow 0.2s var(--transition-width-animation),
						width 0.2s var(--transition-width-animation),
						var(--transition-border-radius),
						var(--transition-opacity),
						var(--transition-outline),
						var(--transition-outline-offset),
						color 0.1s ease-in;


					&:hover {
						outline-offset: -10px;
					}

					&:is(:hover, :focus) {
						--transition-outline: outline 0.1s ease-out;
						--transition-outline-offset: outline-offset 0.1s ease-out;
						outline-color: #fff;
					}

					&:active {
						outline-color: #799590;
						/* outline-offset: -10px; */
					}

					&.toggler {
						position: relative;
						margin-left: unset;
						min-width: 3em;
						flex-grow: 1;
						color: #000;
						border: 4px solid #000;
						outline: unset;
						background: #fff;

						&:is(:hover, :focus) {
							background: #cdd4d8;
						}

						&:active {
							background: #9ba4a9;
						}

						>span.text {
							position: absolute;
							opacity: 1;
							transition: opacity 0.08s ease-out 0.12s;
						}

						>img.icon {
							position: absolute;
							margin: unset;
							opacity: 0;
							/* scale: 0.8; */
							transition: opacity 0.1s ease-in, scale 0.1s ease-in;
						}
					}

					&.chooser {
						flex-grow: 0;
						width: 0px;
						opacity: 0;
						border: unset;
						border-radius: 0.75rem;
						color: transparent;
						/* background: linear-gradient(-11deg, #ccd025 0%, #f7f43d 100%); */
					}

					>img.icon {
						margin-top: -0.1em;
						margin-right: calc(var(--icon-width, 24px) * -1);
						height: 1.4em;
					}
				}

				>button>span.text,
				>a.button {
					padding-top: 0.1em;
				}
			}

			>p.cost {
				grid-column: 2;
				grid-row: 2;
				margin: unset;
				padding: unset;
				display: flex;
				flex-direction: column;
				justify-content: center;
				line-height: 0.6em;
				gap: 0.3rem;
				font-family: MT Sans;
				font-size: 2.4rem;
				border-radius: 1.25rem;

				>span.amount {
					font-size: 1.2em;
					line-height: 0.8em;
					color: #000;

					&:after {
						margin-left: 0.2em;
						content: var(--currency);
					}
				}

				>span.label {
					font-size: 0.7em;
					line-height: 0.8em;
					color: #7f9a9c;
				}
			}
		}
	}
}

@keyframes hotline {
	from {
		/* transform: translateX(var(--superpack-width, 100%)); */
		transform: translateX(100%);
	}

	to {
		transform: translateX(-100%);
	}
}

@media (width < 1700px) {
	section#superpacks {
		>div.flow {
			width: 75vw;

			>article.superpack {
				--cover-width: 200px;
				--cover-height: 330px;
			}
		}
	}
}

@media (width < 1500px) {
	section#superpacks {
		--vignette: #e1dede;

		>div.flow {
			width: 60vw;

			>article.superpack {
				--cover-width: 35%;
				--cover-height: 330px;
				width: 100%;
			}
		}
	}
}

@media (width < 1000px) {
	section#superpacks {
		--vignette: #e6e5e5;

		>div.flow {
			width: 80vw;
		}
	}
}

@media (width < 800px) {
	section#superpacks {
		margin-top: calc(4em + 10vw);

		>h1 {
			margin-top: calc(-2.05em + 5vw);
			flex-direction: column;
			font-size: max(5rem, min(7rem, 12.5vw));

			>span.packs {
				font-size: 1.22em;
				margin-top: 0.1em;
			}
		}

		>div.flow {
			width: 7#5vw;

			>article.superpack {
				--cover-width: 35%;
				--cover-height: 330px;
				width: 100%;

			}
		}
	}
}

@media (width < 600px) {
	section#superpacks {
		>div.flow {
			width: 75vw;
			grid-row-gap: 5em;

			>article.superpack {
				--cover-width: 35%;
				--cover-height: 330px;
				--buttons-amount: 2;
				width: 100%;
				grid-template-columns: 100%;
				grid-template-rows: auto repeat(var(--buttons-amount, 1), 2em);
				grid-row-gap: 1.2em;

				&.reversed {
					grid-template-columns: 100%;

					>section.short,
					>p.cost,
					>div.buttons {
						grid-column: 1;
						grid-row: unset;
					}

					>section.short,
					>section.full {
						grid-row: 1;
					}
				}

				>img {
					display: none;
				}

				>section.short,
				>p.cost,
				>div.buttons {
					grid-column: 1;
					grid-row: unset;
				}

				>section.short,
				>section.full {
					grid-row: 1;
				}
			}
		}
	}
}
