{% extends "/themes/test/index.html" %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/themes/test/css/icons/code_slash.css" />
	<link type="text/css" rel="stylesheet" href="/themes/test/css/icons/telegram.css" />
	<link type="text/css" rel="stylesheet" href="/themes/test/css/blocks/introdution.css" />
	<link type="text/css" rel="stylesheet" href="/themes/test/css/blocks/hotline.css" />
	<link type="text/css" rel="stylesheet" href="/themes/test/css/blocks/service.css" />
	<link type="text/css" rel="stylesheet" href="/themes/test/css/blocks/advantages.css" />
{% endblock %}

{% block main %}
	{% include '/themes/test/main/blocks/introdution.html' %}
	{% include '/themes/test/main/blocks/projects.html' %}
	{% include '/themes/test/main/blocks/service.html' %}
	{% include '/themes/test/main/blocks/advantages.html' %}
	{% include '/themes/test/main/blocks/comand.html' %}

	{% include '/themes/test/main/blocks/contacts.html' %}
{% endblock %}

{% block js %}
	<script src="/js/modules/hotline.mjs" type="module"></script>
	<script src="/js/pages/main.js" defer></script>
	<script src="/js/modules/service.js" defer></script>
	<script src="/js/modules/advantages.js" defer></script>
{% endblock %}
