@charset "UTF-8";

i.icon.code.slash {
	position: relative;
	width: 2px;
	height: 16px;
	box-sizing: border-box;
	display: block;
	transform: rotate(15deg);
	background: currentColor;

	&::after,
	&::before {
		position: absolute;
		content: "";
		width: 8px;
		height: 8px;
		box-sizing: border-box;
		display: block;
		transform: rotate(-60deg);
	}

	&::before {
		top: 5px;
		left: -8px;
		border-top: 2px solid;
		border-left: 2px solid;
	}

	&::after {
		top: 3px;
		right: -8px;
		border-right: 2px solid;
		border-bottom: 2px solid;
	}
}
