@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Wix+Madefor+Display:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Pochaevsk&display=swap");

body {
  margin: unset;
  /* overflow-x: hidden; */
  background-color: #f7fafc;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

main {
  margin-top: var(--menu-height);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: 2rem;
  transition: 0s;
  overflow-x: hidden;

  &:not(:has(*)) {
    display: none;
  }

  > section.container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h2#title {
      font-size: 2.4rem;
      font-family: "Bahnschrift";
      margin: 0.1em 0 0.2em 0;

      > span {
        color: #0ea5e9;
      }
    }

    > p#description {
      margin: unset;
      text-align: center;
      font-size: 1.2rem;
      font-family: "Geologica";
      font-weight: 400;
      color: rgb(0, 0, 0, 0.6);

      > span {
        color: #0ea5e9;
        font-weight: 800;
      }
    }

    > p.description {
      width: 40%;
    }

    > a#order {
      padding: 0.5em 1.3em;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 1.125em;
      font-size: 1em;
      font-family: "Geologica";
      font-weight: 400;
      text-decoration: none;
      background-color: #0ea5e9;
      color: #fff;
      transition: 0.2s;

      &:hover {
        transform: scale(1.05);
      }
    }
    > div#team {
      margin-top: 1rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      > div#card {
        padding: 0.6em 0.8em;
        width: 180px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 1.125rem;
        box-shadow: 0px 0px 15px 0px rgba(14, 165, 233, 0.1);
        background-color: #fff;
        transition: ease 0.2s;

        > img {
          object-fit: cover;
          width: 140px;
          height: 140px;
          border-radius: 100%;
        }

        > p {
          margin: 1em 0 0;
          font-size: 1.2em;
          font-family: "Geologica";
          font-weight: 900;
          color: #000000;
        }

        > span {
          font-size: 1em;
          font-family: "Geologica";
          font-weight: 400;
          color: #0ea5e9;
        }
      }
    }

    > a#telegram {
      padding: 0.5em 1.3em;
      margin-top: 1rem;
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 1.125em;
      font-size: 1em;
      font-family: "Geologica";
      font-weight: 400;
      text-decoration: none;
      background-color: #0ea5e9;
      color: #fff;
      transition: 0.2s;

      &:hover {
        transform: scale(1.05);
      }

      > img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
