@charset "UTF-8";

footer {
	z-index: 4000;
	position: relative;
	height: var(--footer-height, 200px);
	padding: 2rem 10vw;
	display: flex;
	align-items: self-end;
	justify-content: space-between;
	gap: 3rem;
	/* overflow: hidden; */
	color: #fff;
	background-color: #000;

	>div.sector {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: end;
		gap: 1rem;

		&.company {
			justify-content: space-between;
			align-items: end;

			>article#contacts {
				display: flex;
				flex-direction: column;
				align-items: end;
			}
		}

		>article#office {
			width: 250px;
			height: 100%;
			display: flex;

			>div.map {
				width: 100%;
				height: 100%;
				overflow: hidden;
				border-radius: 0.75rem;
				border: 2px solid #474023;
				background-color: #0c110c;

				>div.loading {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					filter: brigtless(0.8) blur(1px);

					&:before {
						margin-top: 50px;
						position: absolute;
						content: var(--map-loading, "Loading");
						width: max-content;
						text-align: center;
						font-family: "Geologica";
						font-style: normal;
						font-weight: 400;
						font-size: 0.6rem;
						color: #533a3a;
					}

					>i.icon.loading.spinner {
						color: #fff;
					}
				}
			}
		}

		nav#links {
			flex-grow: 1;
			display: inline-flex;
			justify-content: center;
			gap: 1rem;

			>a {
				text-decoration: none;
				font-family: "Geologica";
				font-weight: 400;
				font-size: 0.85rem;
				color: #807f7f;
				transition: color 0.1s ease-out;

				&:is(:hover, :focus) {
					color: #d5d5d5;
					transition: color 0s;
				}

				&:active {
					color: #4b4b4b;
					transition: color 0s;
				}
			}
		}

		>article#contacts {
			>h1.sim {
				margin: unset;
				display: flex;
				gap: 0.4em;
				font-size: 1.4em;

				>span.country:before {
					content: '+';
				}

				>span.operator:before {
					content: '(';
				}

				>span.operator:after {
					content: ')';
				}
			}

			>p.worktime {
				margin: unset;
				margin-top: 0.6em;
				display: flex;
				gap: 0.5em;

				>span.time.from {
					display: flex;
					gap: 0.2em;

					&:before {
						content: var(--contacts-worktime-from, 'from');
					}
				}

				>span.time.to {
					display: flex;
					gap: 0.2em;

					&:before {
						content: var(--contacts-worktime-to, 'to');
					}
				}
			}
		}

		>article#company {
			justify-self: end;
			width: 160px;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			font-family: "Bahnschrift";

			>h1.name {
				margin: unset;
				display: block;
				text-align: right;
				font-weight: 600;
				font-size: 1rem;
			}

			>p.column {
				margin: unset;
				display: inline-flex;
				flex-direction: column;
				text-align: right;
				gap: 0.2em;
				font-size: 0.8rem;
				color: grey;

				>span.row {
					display: inline-flex;
					justify-content: end;
					font-weight: 400;

					&:before {
						margin-right: auto;
						font-weight: 600;
						color: #fff;
					}
				}

				>span.tax {
					&:before {
						content: var(--company-tax) ":";
					}
				}

				>span.identifier {
					&:before {
						content: var(--company-identifier) ":";
					}
				}
			}
		}
	}

	>strong.background {
		z-index: -100;
		position: absolute;
		bottom: -0.18em;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18em;
		font-family: "Cascadia Code";
		font-weight: 900;
		/* opacity: 0.052; */
		opacity: 0.042;
		color: #00ffe7;
	}
}

@media (width < 1200px) {
	footer {
		height: unset;
		flex-direction: column;
		align-items: center;

		>div.sector {
			width: 100%;

			>article#office {
				width: 100%;
				height: 100px;
			}

			nav#links {
				display: inline-flex;
				justify-content: space-between;
				gap: 1rem;
				flex-flow: wrap row;
				align-items: center;
			}

			&:is(.company) {
				flex-direction: row;

				>article#contacts {
					align-items: start;
				}
			}
		}
	}
}
