@charset "UTF-8";

:root {
	--width: min(1050px, 55vw);
	/* --menu-height: 70px; */
	--menu-height: 0px;
	--introdution-height: min(36vw, 280px);
	/* --introdution-height: 130vh; */
	/* --introdution-height: max(130vh, 1200px); */
	/* --introdution-height: 1300px; */
	--gap: min(12px, 1rem);
	--fixed-right: 3rem;
	--fixed-bottom: 2rem;
	--fixed-left: 3rem;
	--telegram-diameter: 50px;

	--cookies-z-index: 6000;
	--cookies-right: var(--fixed-right);
	--cookies-bottom: var(--fixed-bottom);
	--cookies-width: 24rem;
	--cookies-height: 4rem;

	font-family: "Commissioner";
	font-family: "Share Tech Mono";
	font-family: "Montserrat";
	font-family: "Alumni Sans Pinstripe";
	font-family: "DejaVu";
	font-family: "Fira";
	font-family: "Hack";
	font-family: "Nunito", "DejaVu", sans-serif;
	text-decoration: none;
	outline: none;
	border: none;
	transition: 0.1s ease-out;
}

body {
	margin: unset;
	width: 100vw;
	overflow-x: hidden;
	background: var(--background-color, #fff);
	background: var(--background-gradient);
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type="range"] {
	cursor: grab;

	&:active {
		cursor: grabbing;
	}
}

input:not([type="range"]) {
	margin: unset;
	padding: 0.2em 0.4em 0.3em;
	box-sizing: border-box;
	font-size: 1em;
	outline: unset;
	border: unset;
	border-bottom: 1px solid;
	background: unset;
}

select {
	margin: unset;
	padding: 0.5em 0.4em 0.3em;
	box-sizing: border-box;
	font-family: Bahnschrift;
	font-weight: 300;
	font-size: 1em;
	cursor: pointer;
	outline: unset;
	border: unset;
	border-bottom: 1px solid;
	background: unset;

	>option {
		cursor: pointer;
	}

	&:is(:hover, :focus) {
		background-color: var(--button-plain-hover-background-color, #bdd2c86b);
	}

	&:active {
		background-color: var(--button-plain-active-background-color, #7d9f8f6b);
	}
}

textarea {
	margin: unset;
	padding: 0.5em 0.7em;
	box-sizing: border-box;
	font-size: 1em;
	outline: unset;
	border: 1px solid;
	border-bottom: 1px solid;
	background: unset;
}

button {
	padding: 0.77em 1.3em 0.6em;
	cursor: pointer;
	font-family: Bahnschrift;
	font-weight: 400;
	outline: unset;
	border-radius: 0.75rem;
	border: 1px solid #000;
	background: unset;

	&:not(:disabled) {
		&:is(:hover, :focus) {
			background-color: #e7e6e0;
		}

		&:active {
			background-color: #c0bfb4;
		}
	}

	&:disabled {
		cursor: not-allowed;
		background-color: #08111d17;
		filter: grayscale(1) brightness(0.8);
	}
}
