@charset "UTF-8";

@font-face {
	font-family: 'Nunito';
	src: url("/fonts/nunito/Nunito-ExtraLight.ttf");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url("/fonts/nunito/Nunito-Light.ttf");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url("/fonts/nunito/Nunito-Regular.ttf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url("/fonts/nunito/Nunito-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url("/fonts/nunito/Nunito-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url("/fonts/nunito/Nunito-Bold.ttf");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url("/fonts/nunito/Nunito-ExtraBold.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url("/fonts/nunito/Nunito-Black.ttf");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url("/fonts/nunito/Nunito-Black.ttf");
	font-weight: 900;
	font-style: normal;
}
