{% extends "/themes/default/index.html" %}

{% block css %}
	{{ parent() }}

	<link type="text/css" rel="stylesheet" href="/css/icons/loading_spinner.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/pages/project.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/project.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/cookies.css" />
	<link rel="preload" as="image" href="/themes/default/images/icons/close.svg" />
{% endblock %}

{% block before %}
{% endblock %}

{% block main %}
	{% include '/themes/default/interface/logotype.html' %}

	{% include '/themes/default/elements/project/full.html' %}
{% endblock %}

{% block after %}
	<div class="vignette"></div>
	<div class="dots"></div>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="/js/pages/project/create.js" type="module" defer></script>
{% endblock %}
