section#description {
	padding-top: 1.5rem;
	gap: 1rem;

	> p {
		margin: unset;
		width: var(--width);
		font-family: "Cascadia Code";
		font-weight: 300;
		font-size: 0.8rem;

		> span {
			font-weight: 400;
		}

		+ small {
			font-family: "Bahnschrift";
			font-weight: 100;
		}
	}

	> div.lists {
		margin-top: 1rem;
		display: flex;
		width: var(--width);

		> ul {
			margin: unset;
			padding: unset;
			display: flex;
			flex-direction: column;
			gap: 0.4em;
			font-family: "Bahnschrift";
			font-size: 0.7rem;
			font-weight: 300;
			list-style: none;

			&:is(.bad) {
				width: 45%;
			}

			&:is(.good) {
				margin-left: auto;
				width: 70%;

				> li {
					gap: 0.4em;

					> i.icon.check {
						min-width: var(--width);
					}
				}
			}

			> li {
				display: inline-flex;
				align-items: center;
			}
		}
	}
}
