{% extends "/themes/default/index.html" %}

{% block css %}
	{{ parent() }}

	<link type="text/css" rel="stylesheet" href="/css/icons/loading_spinner.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/pages/offer.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/cookies.css" />
{% endblock %}

{% block before %}
{% endblock %}

{% block main %}
	{% include '/themes/default/interface/logotype.html %}


	<article id="offer" aria-label="Публичная оферта">
		<h1>Согласие на обработку электронных пользовательских данных</h1>

		<div class="text">
			<p>Я даю согласие на обработку моих электронных пользовательских данных «{{ company.name.full ?? company.name.short }}» (ИНН
			{{ company.tax }}) и его дочерним обществам (далее вместе — {{ company.name.short }}, группа компаний),
				в соответствии с разделом 6 <a href="/policy" rel="nofollow noopener">Политики обработки персональных данных</a> (далее — Политика),
				в следующих целях:</p>
			<ul>
				<li>обеспечение корректной работы сайтов и программных продуктов {{ company.name.short }}, персонализация, сохранение
					настроек пользователя, повышение удобства работы;</li>
				<li>сбор, обработка аналитических и статистических данных по тематике деятельности {{ company.name.short }},
					использования информационных ресурсов, программных продуктов, товаров, работ и услуг {{ company.name.short }}
					для разработки новых программных продуктов, расширения спектра оказываемых услуг, контроля качества,
					противодействия незаконным или несанкционированным действиям, мошенничеству при использовании
					программных продуктов, товаров, работ и услуг {{ company.name.short }}, обеспечение информационной безопасности.
				</li>
			</ul>

			<p>Перечень электронных пользовательских данных, которые могут обрабатываться в соответствии с указанными
				целями обработки:</p>

			<ul>
				<li>идентификаторы пользователя;</li>
				<li>сетевые адреса;</li>
				<li>файлы cookies;</li>
				<li>идентификаторы устройств;</li>
				<li>размеры и разрешение экрана;</li>
				<li>сведения об аппаратном и программном обеспечении, например, браузерах, операционной системе,
					установленных приложениях;</li>
				<li>геолокация;</li>
				<li>языковые настройки;</li>
				<li>часовой пояс;</li>
				<li>время и статистика использования приложений и информационных ресурсов {{ company.name.short }};</li>
				<li>действия в сервисах {{ company.name.short }}, источники переходов на веб-страницы, отправленные поисковые
					и иные запросы, созданный пользователем контент.</li>
			</ul>

			<p>Кроме обработки данных cookies, установленных самими сайтами {{ company.name.short }}, на моем устройстве могут
				устанавливаться cookies, относящиеся к сайтам сторонних организаций, например, в случаях, когда
				на сайтах {{ company.name.short }} используются сторонние компоненты и программное обеспечение. Обработка таких
				cookies регулируется политиками соответствующих сайтов, к которым они относятся, и может изменяться
				без моего предварительного уведомления. К таким случаям может относиться размещение на сайтах:</p>

			<ul>
				<li><span>счетчиков посещений, аналитических и статистических сервисов для сбора статистики посещаемости
						общедоступных страниц сайтов (Яндекс.Метрика, Яндекс.Аудитории, VK.com, Mail.ru);</span></li>
				<li><span>виджетов вспомогательных сервисов для сбора обратной связи, организации чатов и иных видов
						коммуникаций с пользователями (Carrot Quest, Callibri);</span></li>
				<li><span>систем контекстной рекламы, баннерных и иных маркетинговых сетей (VK Ads);</span></li>
				<li><span>кнопок авторизации на сайтах с помощью учетных записей в социальных сетях (VK ID, Яндекс
						ID, Alfa ID);</span></li>
				<li><span>иных сторонних компонент, используемых {{ company.name.short }} на своих сайтах.</span></li>
			</ul>

			<p>Действия, на которые дается согласие: сбор, запись, систематизация, накопление, хранение, уточнение
				(обновление, изменение), извлечение, использование, передача (предоставление, доступ, без осуществления
				трансграничной передачи), обезличивание, блокирование, удаление, уничтожение, осуществляемые с использованием
				средств автоматизации.</p>

			<p>В случае если я не согласен с обработкой cookies, я принимаю на себя риск того,
				что в таком случае функции и возможности сайта могут не быть доступны в полном объеме,
				и могу выбрать один из следующих вариантов:</p>

			<ul>
				<li>произвести самостоятельную настройку своего браузера в соответствии с документацией
					или справкой к нему таким образом, чтобы он на постоянной основе не разрешал принимать
					и отправлять данные cookies для любых сайтов либо для конкретного сайта {{ company.name.short }}
					или сайта стороннего компонента;</li>
				<li>переключиться в специальный режим «инкогнито» браузера для использования сайтом cookies
					до закрытия окна браузера или до переключения обратно в обычный режим;</li>
				<li>покинуть сайт во избежание дальнейшей обработки cookies.</li>
			</ul>

			<p>Я понимаю, что могу самостоятельно через встроенные в браузеры средства работы с данными
				cookies управлять сохраненными данными, в том числе, удалять или просматривать сведения
				об установленных сайтами cookies, включая:</p>

			<ul>
				<li>адреса сайтов и пути на них, куда будут отправляться cookies;</li>
				<li>названия и значения параметров, хранящихся в cookies;</li>
				<li>сроки действия cookies.</li>
			</ul>

			<p>Срок обработки электронных пользовательских данных — до наступления условий:</p>

			<ul>
				<li>достижение целей обработки персональных данных или максимальных сроков хранения;</li>
				<li>утрата необходимости в достижении целей обработки персональных данных;</li>
				<li>предоставление субъектом персональных данных или его законным представителем подтверждения того,
					что персональные данные являются незаконно полученными или не являются необходимыми
					для заявленной цели обработки;</li>
				<li>отзыв согласия на обработку персональных данных, если сохранение персональных данных более
					не требуется для целей обработки персональных данных;</li>
				<li>законное требование о прекращении обработки персональных данных;</li>
				<li>ликвидация (реорганизация) отдельно взятого общества, входящего в {{ company.name.short }}, если обработка
					осуществлялась исключительно в интересах данного общества и отсутствует какой-либо правопреемник
					общества в {{ company.name.short }}.</li>
			</ul>

			<p>Я уведомлен, что при необходимости я могу ознакомиться с актуальной версией Политики обработки
			персональных данных {{ company.name.short }} по адресу <a	href="/offer" rel="nofollow noopener">https://{{ domain }}/policy</a>.</p>
		</div>
	</article>
{% endblock %}

{% block after %}
	<div class="vignette"></div>
	<div class="dots"></div>
{% endblock %}

{% block js %}
	{{ parent() }}
{% endblock %}
