@charset "UTF-8";

.advantages {
  margin: 0 auto;

  width: 48rem;

  > h2.title {
    text-align: center;
    font-size: 2.4rem;
    font-family: "Bahnschrift";
    margin: 0.1em 0 0.2em 0;
  }

  .accordion {
    .accordion-item {
      border-bottom: 1px solid #4d5974;

      button[aria-expanded="true"] {
        border-bottom: 1px solid #0ea5e9;
      }

      &:last-child {
        border: none;
      }
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: #7288a2;
      font-size: 1.2rem;
      font-family: "Bahnschrift";
      font-weight: 400;
      border: none;
      background: none;
      outline: none;

      &:hover,
      &:focus {
        cursor: pointer;
        color: #0ea5e9;

        &::after {
          cursor: pointer;
          color: #0ea5e9;
          border: 1px solid #0ea5e9;
        }
      }
      .title {
        padding: 1em 1.5em 1em 0;
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;

        &::before {
          display: block;
          position: absolute;
          content: "";
          top: 11px;
          left: 6px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: "";
          top: 7px;
          left: 10px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
  }

  button[aria-expanded="true"] {
    color: #0ea5e9;
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;

    p {
      align-items: left;
      font-size: 1.05rem;
      font-weight: 300;
      font-family: "Bahnschrift";
      margin: 2em 0;
    }
  }
}
