@charset "UTF-8";

section#company {
	justify-self: end;
	width: 160px;
	padding: 1rem;
	padding-bottom: unset;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-family: "Bahnschrift";

	> h4.name {
		margin: unset;
		display: block;
		text-align: right;
		font-weight: 600;
		font-size: 1rem;
	}

	> p.column {
		margin: unset;
		display: inline-flex;
		flex-direction: column;
		text-align: right;
		gap: 0.2em;
		font-size: 0.8rem;
		color: grey;

		> span.row {
			display: inline-flex;
			justify-content: end;
			font-weight: 400;

			&:before {
				margin-right: auto;
				font-weight: 600;
				color: #fff;
			}
		}

		> span.tax {
			&:before {
				content: var(--company-tax) ":";
			}
		}

		> span.identifier {
			&:before {
				content: var(--company-identifier) ":";
			}
		}
	}
}
