@charset "UTF-8";

section#shortcut {
	> div {
		width: var(--width);
		display: flex;
		flex-direction: row;
		gap: 1rem;

		> div.column {
			display: flex;
			flex-direction: column;

			&:is(.statistics) {
				width: 300px;

				> p {
					margin: unset;
					margin-top: 0.8rem;
					display: flex;
					gap: 0.4rem;
					font-family: "Cascadia Code";
					font-weight: 600;

					&:is(:first-of-type) {
						margin-top: unset;
					}

					> span {
						font-weight: 400;
					}

					+ small {
						font-family: "Bahnschrift";
						font-weight: 100;
					}
				}
			}
		}
	}
}
