<!DOCTYPE html>

<html lang="ru">

	<head>
		{% use '/themes/default/head.html' with meta as head_meta, css as head_css %}

		<title>{% block title %}{% endblock %} @Кодорвань</title>

		{{ block('head_meta') }}
			{% block meta %}
		{% endblock %}

		{{ block('head_css') }}
			{% block css %}
		{% endblock %}

		{% include '/metrics/yandex.html' %}
	</head>

	<body>
		{% block body %}
		{% endblock %}

		{% include '/themes/default/js.html' %}
		{% block js %}
		{% endblock %}
	</body>

</html>
