{% block css %}
	<style>
		:root {
			--map-loading: "Загрузка карты";
			--map-loading: "Карта не загрузится :(";
			--contacts-worktime-from: "{{ language.name == 'ru' or true ? 'с' : 'from' }}";
			--contacts-worktime-to: "{{ language.name == 'ru' or true ? 'до' : 'to' }}";
			--company-identifier: "{{ language.name == 'ru' or true ? 'ОГРН' : 'ID' }}";
			--company-tax: "{{ language.name == 'ru' or true ? 'ИНН' : 'TAX' }}";
		}
	</style>
	<link type="text/css" rel="stylesheet" href="/themes/default/css/elements/rofls.css" />
{% endblock %}

{% block body %}
	<footer>
		<div class="sector">
			<article class="company">
				<div class="map">
					<div class="loading">
						<i class="icon loading spinner animated"></i>
					</div>
				</div>
				<div class="information">
					<h1 class="name">{{ company.name.short }}</h1>
					<p class="column">
						<span class="tax row">{{ company.tax }}</span>
						<span class="identifier row">{{ company.identifier }}</span>
					</p>
					<p class="worktime unselectable">
						{% if company.address.full is not empty %}{{ company.address.full }}{% endif %}, 
						<span class="time from">{{ company.worktime.from }}</span>
						<span class="time to">{{ company.worktime.to }}</span>
					</p>
				</div>
			</article>

			<article class="contacts">
				{% include '/themes/default/interface/sim.html' %}

				{% if company.contacts.request.mail is not empty %}
					<a class="mail support" href="mailto:{{ company.contacts.request.mail }}" rel="external noreferrer noopener nofollow">{{ company.contacts.request.mail }}</a>
				{% endif %}

				{% include '/themes/default/interface/media.html' %}
			</article>
		</div>

		<nav id="links" class="unselectable">
			<a href="/offer" rel="terms-of-service noopener">ОФЕРТА</a>
			<a href="/policy" rel="privacy-policy noopener">ПОЛИТИКА</a>
			<a href="https://ru.wikipedia.org/wiki/WTFPL" rel="license external nofollow noopener" >ЛИЦЕНЗИЯ</a>
			<a href="https://git.svoboda.works/kodorvan" rel="external nofollow noopener">РЕПОЗИТОРИЙ</a>
			<a href="https://t.me/kodorvan" rel="help external nofollow noopener">БЛОГ</a>
			<a href="https://t.me/from_mirzaev" rel="author external nofollow noopener">МИРЗАЕВ</a>
		</nav>
	</footer>
	{% include '/themes/default/elements/rofls.html' %}
{% endblock %}

{% block js %}
{% endblock %}
