{% block meta %}
	<meta charset="utf-8" />

	<title>{% if head.title != empty %}{{ head.title }}{% else %}Кодорвань - разработка сайтов в Перми{% endif %}</title>
	<meta name="application-name" content="Кодорвань" />
	<meta name="description" content="Чистый код, авангардный дизайн, крепкий бустинг и юридическая броня! Заходи на сайт и посчитай проект за 2 минуты! Рвём шаблоны!" />
	<meta name="author" content="Арсен Мирзаев Татьяно-Мурадович" />
	 
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="width" />
	<meta name="mobile-web-app-capable" content="yes" />

	<meta property="og:title" content="Кодорвань - разработка сайтов в Перми" />
	<meta property="og:description" content="Чистый код, авангардный дизайн, крепкий бустинг и юридическая броня! Заходи на сайт и посчитай проект за 2 минуты! Рвём шаблоны!" />
	<meta property="og:locale" content="ru_RU" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://kodorvan.tech" />
	<meta property="og:logo" content="https://kodorvan.tech/images/kodorvan.png" />
	<meta property="og:image" content="https://kodorvan.tech/images/kodorvan_1200_630.webp" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:image:alt" content="ВСЕХ ШАБЛОНОВ; КОДОРВАНЬ!" />
	<meta property="og:image" content="https://kodorvan.tech/images/kodorvan.png" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="1200" />
	<meta property="og:image:alt" content="ВСЕХ ШАБЛОНОВ; КОДОРВАНЬ!" />
	<meta property="og:site_name" content="kodorvan" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="@mirzaev_sexy" />
	<meta name="twitter:site" content="@mirzaev_sexy" />
	<meta name="twitter:url" content="https://kodorvan.tech/" />
	<meta name="twitter:title" content="Kodorvan" />
	<meta name="twitter:description" content="Programming, design, boosting and legal armor!" />
	<meta name="twitter:image" content="https://kodorvan.tech/images/kodorvan_1200_630.webp" />

	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/favicon-57x57.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/favicon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/favicon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/favicon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/favicon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/favicon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/favicon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/favicon-152x152.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/favicon-180x180.png" />
	<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png" />
	<link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/favicon-192x192.png" />
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
	<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
	<link rel="manifest" href="/images/favicon/manifest.json" />
	<meta name="msapplication-TileColor" content="#ffffff" />
	<meta name="msapplication-TileImage" content="/images/favicon/favicon-144x144.png" />
	<meta name="msapplication-config" content="/images/favicon/browser.xml" />

	<meta name="theme-color" content="#ffffff" />

	{% for meta in head.metas %}
		<meta {% for name, value in meta.attributes %}{{ name }}="{{ value }}" {% endfor %} />
	{% endfor %}

	<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Organization",
		"logo": "https://kodorvan.tech/images/kodorvan.png",
		"name": "Кодорвань",
		"description": "Чистый код, авангардный дизайн, крепкий бустинг и юридическая броня! Заходи на сайт и посчитай проект за 2 минуты! Рвём шаблоны!",
		"url": "https://kodorvan.tech"
		"contactPoint": [
			{ "@type": "ContactPoint",
				"telephone": "+7-901-592-4211",
				"contactType": "Бесплатная консультация",
				"contactOption": "TollFree",
				"areaServed": "RU"
			}
		] 
	}
	</script>
{% endblock %}

{% block css %}
	{% for element in css %}
		<link type="text/css" rel="stylesheet" {% if element.href %} href="{{ element.href }}" {% endif %} />
	{% endfor %}
	<link type="text/css" rel="stylesheet" href="/themes/default/css/fonts.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/system.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/header.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/main.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/aside.css" />
	<link type="text/css" rel="stylesheet" href="/themes/default/css/footer.css" />
	<style id="theme" />
		@import url('/themes/default/css/colorscheme.css');
	</style>
	<style if="localization" />
		:root {
			--days: "{{ language.name == 'ru' or true ? 'дн' : 'd' }}";
			--hours: "{{ language.name == 'ru' or true ? 'ч' : 'h' }}";
			--currency: "{{ currency.name == 'rub' or true ? '₽' : currency.symbol() }}";
		}
	</style>
{% endblock %}
